# Python virtual environment
.venv/
venv/
env/

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover